body { background: #e0e0e0; }


#primary, #secondary {
  padding: 25px;
  background: yellow;
   box-sizing: border-box;
}

#columns {
  margin: 0 0 0 220px;
}

#primary {
  float: right;
  width: 100%;
}

#secondary {
  float: left;
  width: 200px;
  margin: 0 0 0 -220px;
}