body { background: #e0e0e0; }

#primary {
  float: left;
  width: 65%;
  background: yellow;
}

#secondary {
  float: right;
  width: 25%;
  background: yellow;
}

#teterary{
  float:;
  width: 25%;
  background: yellow;
}