body{
    font-family: arial;
    font-size:18px;
    margin:0 auto;
    padding:0;
    border:none;
    width:615px;
}

fieldset{
    border:none;
    padding:0px;
    margin-bottom: 2px;
}

.formtitle{
     font-weight: normal;
     font-size:27px;
}

.category{
    padding-left:30px;
}

.section1 dl{
    padding:1px 30px 20px 30px;
    margin:2px;
}

 dd{
    margin:0 auto;
    padding-bottom: 20px;
    padding-top:10px;
}

#edge{
    float:left;
    height: 100%;
    background:#cccccc;
    width:4px;
}

label{
    font-family: arial;
    font-size:16px;
    font-weight: bold;
    color:#666666;
}

.section1{
    background:#ececec;
    width:600px;
    height:270px;
}

.section1 input[type="text"], input[type="email"]{
    display:inline-block;
    width:100%;
    height: 40px;
    padding:0 10px 0 10px;
    border:1px blue solid;
    border-radius: 5%;
    box-sizing: border-box;
    font-family: arial;
    font-size:15px;
}

#firstname{
   width:47%;
   margin-right:8px;
}

#lastname{
   width:50%;
}

#email{
    width:100%;
}

.section2{
    display: block;
    background:#ececec;
    width:600px;
    height:200px;;
}


.section2 input[type="text"]{
    width:100%;
    height: 40px;
    padding:0 10px 0 10px;
    border:1px blue solid;
    border-radius: 5%;
    box-sizing: border-box;
    font-family: arial;
    font-size:15px;
}

.section2 dl{
    display:inline-block;
    vertical-align: top;
    padding:0 0 10px 20px;
    width:27.3%; 
}

.section3{
    background:#ececec;
    width:600px;
    height:270px;
}


.section3 input[type="text"]{
    width:100%;
    height: 40px;
    border:1px blue solid;
    border-radius: 5%;
    box-sizing: border-box;
    font-family: arial;
    font-size:15px;
}

#first{
    padding:0 30px  0 30px;
}

  #second{
    width:40%;
    padding-left:30px;
    padding-right:20px;
    margin-top:0px;
    display: inline-block;
}

#third{
    width:45%;
    display: inline-block;
}