@import url("whitespace-reset.css");

body{
    background-image: linear-gradient(to bottom, #d5dfc3, #fcfff5);
    background-repeat:no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    width:920px;
    margin:0 auto;
    padding:20px 20px 0 20px;
}

header h1{
    padding:45px 0 15px 115px;
    float:left;
    font-size:36px;
    font-weight: normal;
    margin:0;
    background:transparent url("shutterbugicon.png") 0 0 no-repeat;
}

h1{
    font-size:36px;
    font-weight: normal;
    color:#3e606f;
}

nav{
     float:right;
     padding:75px 0 0 0;
}

ul{
    list-style: none;
    margin:0 0 0 0;
}

nav li{
    display: inline-block;
}

nav a{
    display:block;
    
    background:#ffffff;
    z-index: -1;
    padding:10px 35px 10px 35px;
    text-decoration:none;
    text-align:center;
    width:45px;
    height:25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color:#91aa9d;
    font-size:18px;
}

nav a.active{
    color:#fcfff5;
    background:#91aa9d;
}

.container{
    clear:both;
    background:#ffffff;
    z-index: 1;
    margin:0 auto;
    overflow:hidden;
    width:960px;
    box-sizing:border-box;
    box-shadow: 0 5px 5px #b5b5b5;
}



#largeimg{
    margin:30px;
}

#largeimg > img{
   width:100%;
}

#main{
   margin:30px;
}

#main > img{
    float:right;
    margin-bottom: 40px;
    padding-left:30px;
}

#main > h2{
    color:#3e606f;
}
#main > p {
 padding-right:0px;
 color:#3e606f;
 font-size:18px;
}

#copyright{
    clear:both;
}

footer{
    width: 960px;
    margin:auto;
    font-size:14px;
     color:#3e606f;
}