#position{
    background:white;
    padding: 30px 15px;
    position:absolute;
    z-index: 2;
    top:10px;
    left:50%;
    width:400px;
    text-align: center;
    margin-left: -200px;
    box-sizing: border-box;
}

#position span {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background: #fcfc99;
}

#fade{
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, .6);
}