article{
    width:600px;
    margin:0 auto;
    box-sizing: border-box;
}

#sample{
    background:green;
    border-radius:5%;
    text-align:center;
    color:white;
    height:70px;
    margin:5px;
}

header{}

section{
     display:inline-block;
     float:left;
    margin:0 1.5%;
    width:30%;
     box-sizing: border-box;
}

footer{
    clear:both;
}
