#content,
#sidebar {
  padding: 20px 30px;
}

#content {
  float: left;
  width: 50%;
  padding: 20px 30px;
  box-sizing: border-box;
}

#sidebar {
  float: left;
  width: 50%;
  padding: 20px 30px;
  box-sizing: border-box;
}
/*main {*/
/*  min-width: 600px;*/
/*  max-width: 1400px;*/
/*}*/